.gold-middle
	padding 25px 0
	background url('../../images/gold-middle-bg-m.jpg') no-repeat center
	background-size cover
	+above(769px)
		padding 45px 0
		background url('../../images/gold-middle-bg.jpg') no-repeat center
		background-size cover

	&__wrap
		padding 50px 15px 30px
		background rgba(255, 255, 255, .7)
		+above(769px)
			padding 50px 60px 30px

	&__title
		margin-bottom 25px

	&__text
		margin-bottom 25px
		&:last-child
			margin-bottom 0
