mixin gold-middle()

	+b('section').gold-middle
		.container.shadowless.big
			+e.wrap
				+e.title
					+title({main: 'Золотая середина'})
				+e.text
					+text('Нужно быть и&nbsp;красивой и&nbsp;умной, успевать по&nbsp;дому и&nbsp;преуспевать на&nbsp;работе, ходить на&nbsp;спорт и&nbsp;придерживаться сбалансированного рациона, чтобы обеспечить организм самым необходимым.')
				+e.text
					+text('Держать баланс в&nbsp;питании&nbsp;&mdash; дело сложное и&nbsp;хлопотное. Одни вообще не&nbsp;придают этому значения, другим не&nbsp;хватает самодисциплины и&nbsp;терпения, третьим это не&nbsp;по&nbsp;карману. Стоит только заглянуть в&nbsp;магазин с&nbsp;органическими продуктами, и&nbsp;нас охватывает ужас&nbsp;&mdash; это&nbsp;же сколько нужно зарабатывать, чтобы все это покупать? Впрочем, попробовав морковку с&nbsp;пометкой &laquo;био&raquo;, вы&nbsp;скорее откажетесь даже от&nbsp;идеи зарабатывать на&nbsp;нее&nbsp;&mdash; просто потому, что это еще и&nbsp;не&nbsp;очень вкусно!')
