mixin common-truths()

	+b('section').common-truths
		.container
			+e.wrap
				+e.title
					+title({main: 'Прописные истины'})
				+e.text
					+text('Помните популярную присказку: &laquo;Завтрак съешь сам, обед раздели с&nbsp;другом, а&nbsp;ужин отдай врагу&raquo;? Многие до&nbsp;сих пор пытаются следовать именно&nbsp;ей, напрочь забывая о&nbsp;перекусах и&nbsp;полностью отказываясь от&nbsp;вечернего приема пищи. При этом подобный подход уже признан диетологами неэффективным: то, сколько калорий вы&nbsp;получили и&nbsp;потратили в&nbsp;течение дня, значительно важнее, чем время, в&nbsp;которое вы&nbsp;их&nbsp;получили. Огромное значение имеет и&nbsp;состав еды: соотношение белков, жиров и&nbsp;углеводов. Иными словами, ключ к&nbsp;успеху&nbsp;&mdash; сбалансированность. Однако зачастую мы&nbsp;не&nbsp;отдаем себе отчета, в&nbsp;том, что именно мы&nbsp;едим.')
				+e.image
					img(src='./images/common-truths-image.jpg')
