mixin compare()

	+b.compare
		+e('h3').title Сравните, сколько пользы в&nbsp;одной порции коктейля
		+e.images
			img(src='./images/compare1-m.jpg')
			img(src='./images/compare2-m.jpg')
		+e('p').text *Эффективность продукции Herbalife Nutrition подтвердили клинические исследования в&nbsp;известных научных институтах мира: в&nbsp;Центре Питания Человека, Калифорнийский Университет (США), в&nbsp;Ульмском Университете (Германия), в&nbsp;Национальном Университете (Сеул), кафедра медицины.
