mixin clever-food()

	+b('section').clever-food
		.container
			+e.wrap
				+e.title
					+title({main: 'Умная еда'})
				+e.text
					+text('На&nbsp;самом деле, для здорового питания не&nbsp;нужно ни&nbsp;много времени, и&nbsp;лишних трат, ни&nbsp;пометок &laquo;био&raquo;. Мы&nbsp;давно привыкли к&nbsp;словосочетаниям &laquo;умный дом&raquo;, &laquo;умный транспорт&raquo;, &laquo;умный компьютер&raquo;. Эти дары цивилизации&nbsp;&mdash; наши ненавязчивые помощники. С&nbsp;ними мы&nbsp;уверены, что делаем все правильно, максимально быстро, комфотно и&nbsp;безопасно.')
				+e.compare
					+compare()
				+e.text
					+text('Все те&nbsp;же самые принципы заложены и&nbsp;в&nbsp;&laquo;умной еде&raquo;. В&nbsp;случае с&nbsp;традиционными продуктами нам действительно необходимо каждый раз тратить драгоценное время на&nbsp;просчет соотношения БЖУ и&nbsp;калоража, не&nbsp;говоря уже о&nbsp;самом процессе готовки. Создатели протеиновых коктейлей уже подумали об&nbsp;этом за&nbsp;нас. К&nbsp;тому&nbsp;же, чтобы сделать порцию коктейля понадобится не&nbsp;больше 2-3&nbsp;минут. И&nbsp;вуаля&nbsp;&mdash; ваша умная еда в&nbsp;стакане готова!')
				+e.text
					+text('По&nbsp;данным нашего опроса*, каждая третья участница анкетирования хотя&nbsp;бы раз пробовала &laquo;умную еду&raquo; или пользуется ею&nbsp;регулярно. Но&nbsp;число скептиков по-прежнему еще велико. Наше сознание намного инертнее и&nbsp;консервативнее технологического прогресса и&nbsp;адаптируется ко&nbsp;всему новому с&nbsp;оглядкой на&nbsp;сложившиеся традиции и&nbsp;личные привычки. Две трети респондентов пока еще не&nbsp;готовы воспринимать протеиновые коктейли как полноценную еду. Основная причина недоверия&nbsp;&mdash; отсутствие знания о&nbsp;его составе. Кроме того, для многих из&nbsp;нас еда&nbsp;&mdash; это&nbsp;то, что нужно есть ложкой или вилкой с&nbsp;ножом.')
