mixin doctor()

	+b('section').doctor
		.container
			+e.bg
				+e.wrap
					+e.top
						+e.top-image
							img(src='./images/doctor-ava.png')
						+e.top-content
							+e('p').job Врач-диетолог
							+e('p').name Алла Васильевна Шилина
					+e('p').text &laquo;Отказ от&nbsp;завтрака приводит к&nbsp;быстрой усталости, слабости, а&nbsp;сильное чувство голода провоцирует на&nbsp;потребление еще более калорийной пищи, что формирует неправильный режим питания на&nbsp;весь день. Закрепляясь, дурные привычки питания тоже ведут к&nbsp;плохому самочувствию и&nbsp;накоплению лишнего веса. Известно, что люди, пропускающие завтрак, могут набирать по&nbsp;4-7 лишних килограмм в&nbsp;год&raquo;
