@font-face
	font-family 'BadScript Regular'
	src url('../../fonts/BadScript-Regular.woff') format('woff')

@font-face
	font-family 'Gotham Black'
	src url('../../fonts/GothamPro-Black.woff') format('woff')

@font-face
	font-family 'Gotham Bold'
	src url('../../fonts/GothamPro-Bold.woff') format('woff')

@font-face
	font-family 'Gotham Light'
	src url('../../fonts/GothamPro-Light.woff') format('woff')

@font-face
	font-family 'Gotham Medium'
	src url('../../fonts/GothamPro-Medium.woff') format('woff')

@font-face
	font-family 'Gotham Regular'
	src url('../../fonts/GothamPro-Regular.woff') format('woff')

@font-face
	font-family 'Minion Regular'
	src url('../../fonts/MinionPro-Regular.woff') format('woff')
