// Fonts
$ff-badscript = 'BadScript Regular', sans-serif
$ff-gothamblack = 'Gotham Black', sans-serif
$ff-gothambold = 'Gotham Bold', sans-serif
$ff-gothamlight = 'Gotham Light', sans-serif
$ff-gothammedium = 'Gotham Medium', sans-serif
$ff-gothamregular = 'Gotham Regular', sans-serif
$ff-minion = 'Minion Regaular', sans-serif
$ff-roboto = 'Roboto', sans-serif

// Colors
$c-black = #000
$c-green = #76bd1d
$c-green-bg = #91ca4a
$c-white = #fff
$c-grey = #5c5b5b
$c-grey-light = #797878
$c-orange = #f15c30
$c-white-graph = #e7e7e8
