mixin out-of-time()

	+b('section').out-of-time
		+e.top
			.container.shadowless.big
				+e.top-wrap
					+e.title
						+title({main: 'Нам вечно не&nbsp;хватает времени'})
					+e.text
						+text('В&nbsp;наши дни время решает все. Другие факторы&nbsp;&mdash; полезность, основательность, качество&nbsp;&mdash; отходят на&nbsp;второй план. Так что&nbsp;же делать? Бросить все и&nbsp;уехать в&nbsp;деревню, чтобы вести неспешный образ жизни, выращивать овощи на&nbsp;грядке и&nbsp;пить молоко от&nbsp;собственной коровы? Или все-таки продолжить пользоваться благами цивилизации? Но&nbsp;как при этом не&nbsp;навредить организму?')
					+e.text
						+text('В&nbsp;условиях цейтнота проще всего съесть&nbsp;то, что не&nbsp;нужно готовить: калорийный бутерброд, сладкую булочку или шоколадку. К&nbsp;сожалению, такой прием пищи будет не&nbsp;слишком полезным. Из-за высокого содержания быстрых углеводов чувство голода вернется уже через час, сил на&nbsp;работу и&nbsp;повседневные дела не&nbsp;прибавится, а&nbsp;лишние калории немедленно начнут атаку на&nbsp;талию. Как быть? Эксперты рекомендуют делать ставку на&nbsp;белок, и&nbsp;тому есть множество объяснений.')
		.container
			+e.wrap
				+e.icons
					+e.icon.wow.fadeInLeft(data-wow-delay='0.75s')
						img(src='./images/g-icon-5.png')
					+e.icon.wow.fadeInLeft(data-wow-delay='0.5s')
						img(src='./images/g-icon-6.png')
					+e.icon.wow.fadeInLeft(data-wow-delay='0.25s')
						img(src='./images/g-icon-7.png')
					+e.icon.wow.fadeInLeft(data-wow-delay='0')
						img(src='./images/g-icon-8.png')
				+e.text
					+text('Испытывая недостаток белка, организм начинает &laquo;питаться&raquo; собственными тканями. Именно поэтому, садясь на&nbsp;супер-строгую диету, можно буквально за&nbsp;пару дней почувствовать недомогание, а&nbsp;в&nbsp;результате потерять не&nbsp;лишний жир, который очень неохотно покидает тело, а&nbsp;мышечную ткань. На&nbsp;этот случай всем любителям &laquo;гречневой недели&raquo; или &laquo;яблочных разгрузочных дней&raquo; нужно знать, что 1&nbsp;кг мышц сжигает около 30&nbsp;ккал в&nbsp;день, а&nbsp;1&nbsp;кг жира всего 6&nbsp;ккал. К&nbsp;тому&nbsp;же, дефицит белка уменьшает устойчивость организма к&nbsp;инфекциям, приводит к&nbsp;гормональным нарушениям, проблемам с&nbsp;сердцем, преждевременному старению кожи и&nbsp;выпадению волос, и&nbsp;это далеко не&nbsp;полный перечень! Короче говоря, надо налегать на&nbsp;белок.')
				+e.woman
					img(src='./images/out-of-time-woman.jpg')
		+e.bottom
			.container.shadowless
				+e.title
					+title({main: 'Встань за&nbsp;плиту, женщина!', subtitle: 'Завтрак сам себя не&nbsp;приготовит'})
				+e.text
					+text('Завтракать нужно обязательно, при этом важно, чтобы завтрак содержал не&nbsp;менее 20&nbsp;гр белка. Правильный первый прием пищи запускает все функции организма, обеспечивает его строительным материалом, и&nbsp;тем самым сдерживает переедание в&nbsp;течение дня. Проведенный в&nbsp;марте опрос* показал, что почти четвертая часть современных женщин либо не&nbsp;завтракают вовсе, либо делают это нерегулярно или на&nbsp;бегу. Оно и&nbsp;понятно, ведь проще открыть йогурт и&nbsp;взять ложку, чем тратить 15&nbsp;мин на&nbsp;кулинарные изыски, когда впереди ждет макияж, прическа и&nbsp;продолжительное &laquo;мне нечего надеть&raquo;, стоя у&nbsp;открытого шкафа.')
		.container
			+e.divider
