mixin banner()

	+b('section').banner
		.container.shadowless
			+e.wrap
				+e('h2').title.wow.slideInLeft
					img(src='./images/banner-title.png')
				+e('p').text &laquo;Быстрые&raquo; свидания, рестораны быстрого питания, продукты быстрого приготовления&nbsp;&mdash; количество слов с&nbsp;приставкой &laquo;фаст&raquo; растет в&nbsp;нашем ежедневном обиходе, по&nbsp;мере того как производители товаров и&nbsp;услуг подстраиваются под требования современного образа жизни. Чем нам приходится жертвовать, чтобы не&nbsp;выпасть из&nbsp;стремительного потока? Существует&nbsp;ли оптимальный компромисс между скоростью бытия и&nbsp;качеством всего того, что мы&nbsp;потребляем? Редакция Woman.ru совместно с&nbsp;компанией Herbalife Nutrition провела опрос среди почти 5,5 тысячи женщин, чтобы понять, как изменившийся ритм жизни влияет на&nbsp;пищевые предпочтения россиянок.
				+e.btns
					+e.btn
						svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8.18 14.7')
							defs
								style.
									.cls-1{fill:none;stroke:#231f20}
							path.cls-1(d='M4.09 0v13.97M7.81 9.96l-3.72 4.01L.37 9.96')

