mixin eat-or-stop()

	+b('section').eat-or-stop
		.container
			+e.wrap
				+e.title
					+title({main: 'Есть на бегу или остановиться?'})
				+e.text._no-mb
					+text('То, что раньше занимало часы или недели, сегодня происходит за&nbsp;секунды. Информацию в&nbsp;интернете находим по&nbsp;клику мышки и&nbsp;за&nbsp;полдня добираемся до&nbsp;самых далеких стран. Мы&nbsp;&mdash; то&nbsp;самое поколение, которому проще приобрести новое, чем чинить старое, купить полуфабрикат или фастфуд, чем приготовить самостоятельно.')
		+e.image
		.container
			+e.bottom
				+e.text
					+text('Нам сложно представить жизнь без круглосуточных гипермаркетов, фитнес-клубов и&nbsp;даже салонов красоты. А&nbsp;вот во&nbsp;времена СССР с&nbsp;13&nbsp;до&nbsp;14&nbsp;часов все магазины и&nbsp;государственные учреждения закрывались, и&nbsp;на&nbsp;дверях вывешивалась безапелляционная табличка: &laquo;ОБЕД&raquo;. Хотя это давно стало пережитком&nbsp;&mdash; здоровая подоплека в&nbsp;режиме питания все&nbsp;же есть. Любой диетолог подтвердит, что для организма лучше всего употреблять пищу каждый день в&nbsp;одно и&nbsp;то&nbsp;же время. Возможно&nbsp;ли это в&nbsp;условиях, когда коллеги из&nbsp;Европы опять назначили conference call на&nbsp;обеденное время? Конечно&nbsp;же, нет, поэтому верным решением будет съесть пускай такую неполезную, но&nbsp;сказочно вкусную булочку до&nbsp;или после созвона, чтобы по&nbsp;крайней мере не&nbsp;умереть с&nbsp;голоду.')
