.eat-or-stop
	+above(769px)
		margin-top -350px

	&__wrap
		padding 25px 15px
		+above(769px)
			padding 400px 95px 35px
			margin 0 -70px
			background url('../../images/eat-or-stop-bg.png') no-repeat center top
			background-size 100%

	&__bottom
		padding 25px 15px
		+above(769px)
			padding 35px 15px


	&__title
		margin-bottom 25px

	&__text
		margin-bottom 40px

		&_no-mb
			margin-bottom 0

	&__image
		// margin 0 -40px 40px
		height 470px
		background url('../../images/eat-or-stop-image.jpg') no-repeat center
		background-size cover
		+above(769px)
			// margin 0 -70px 40px
