mixin expert-comment()

	+b('section').expert-comment
		.container.shadowless
			+e.wrap
				+e.content
					+e.content-wrap
						+e.header
							+e('p').title Комментарий эксперта о протеиновых коктейлях
							+e.ava
								img(src='./images/expert-ava.png')
							+e.doc
								+e.doc-job Врач-диетолог
								+e.doc-name Ирина Лизун
						+e('p').text К&nbsp;сожалению, рацион современного человека часто имеет нездоровый перекос: большое количество углеводов (особенно быстрых) при недостатке белка. Углеводы гораздо проще купить в&nbsp;готовом виде (булочки, чипсы). Белок&nbsp;же встречается в&nbsp;продуктах в&nbsp;чистом виде крайне редко, почти всегда требует приготовления и&nbsp;сопровождается содержанием в&nbsp;продукте жиров (мясо, орехи). Поэтому белковый коктейль уже давно не&nbsp;просто прерогатива спортсменов, а&nbsp;маст-хев людей, которые хотят насытить организм белком без лишнего жира. Это идеальный быстрый перекус или даже полноценный обед в&nbsp;режиме цейтнота, от&nbsp;которого наступит комфортная сытость, и&nbsp;который не&nbsp;позволит снова попасться на&nbsp;крючок булочек. Главное, что это полноценная замена, ведь большинство коктейлей зарегистрированы и&nbsp;являются продуктами питания, а&nbsp;не&nbsp;просто добавкой к&nbsp;пище.
						+e.links
							+e(href='#').link.js-exp-show-more
								p читать
								img(src='./images/arrow-white.png')
							+e(href='#').link._hide.js-exp-hide-more
								p свернуть
								img(src='./images/arrow-white-back.png')
