.text
	font-family $ff-gothamregular
	font-size 18px
	line-height 24px
	color $c-black
	text-align left

	+above(769px)
		text-align justify
		text-align-last center

	+below(420px)
		font-size 14px
		line-height 20px
