mixin conclusion()

	+b('section').conclusion
		.container
			+e.wrap
				+e.text
					+text('Но&nbsp;не&nbsp;стоит сразу отмахиваться от&nbsp;инноваций, ведь они несут нам совершенно иной уровень качества жизни. Еще 15&nbsp;лет назад никто и&nbsp;не&nbsp;думал, что под натиском стремительно развивающейся мобильной связи домашний телефон превратится в&nbsp;отмирающий дорогостоящий рудимент. Так может быть пройдет год-другой и&nbsp;&laquo;умная еда в&nbsp;стакане&raquo; станет неотъемлемой частью нашего повседневного рациона питания. Надо просто начать...')
				+e('p').caption Больше о&nbsp;сбалансированном питании и&nbsp;протеиновых коктейлях читайте на
					a(href='http://bud-v-forme.ru/' target='_blank') http://bud-v-forme.ru/
				+e('p').info
					| *Метод: онлайн-опрос по&nbsp;базе подписчиков Women&rsquo;s Network. Сроки проведения: 19.03&nbsp;&mdash; 21.03.2018. География: Россия. ЦА: женщины.
					br
					| Количество законченных интервью: 5448. Возраст: меньше 18&nbsp;лет 0.72%, 18-25 лет 19.65%, 26-35 лет 44.58%, 36-45 лет 21.17%, 46-55 лет 9.40%, старше 55&nbsp;лет 4.49%.
				+e.share
					+share()
