mixin our-diet()

	+b('section').our-diet
		.container
			+e.wrap
				+e.title
					+title({main: 'Наш рацион:', subtitle: 'почему мы&nbsp;постоянно делаем неправильный выбор?'})
				+e.text
					+text('Что самое дешевое в&nbsp;производстве? Сладкие, соленые, жирные полуфабрикаты и&nbsp;снеки. Найти их&nbsp;можно абсолютно везде, и&nbsp;они&nbsp;же для нас&nbsp;&mdash; самая притягательная еда. Все потому, что в&nbsp;древности, если человек съедал что-то сладкое, т.е. богатое углеводами, или жирное, он&nbsp;мог больше времени не&nbsp;чувствовать голод, а&nbsp;значит&nbsp;&mdash; выживать. Так мозг закрепил за&nbsp;одними продуктами статус &laquo;вкусные&raquo;, а&nbsp;за&nbsp;другими&nbsp;&mdash; &laquo;не&nbsp;очень&raquo;.')
				+e.icons
					+e.icon.wow.fadeInRight(data-wow-delay='0')
						img(src='./images/g-icon-1.png')
					+e.icon.wow.fadeInRight(data-wow-delay='0.25s')
						img(src='./images/g-icon-2.png')
					+e.icon.wow.fadeInRight(data-wow-delay='0.5s')
						img(src='./images/g-icon-3.png')
					+e.icon.wow.fadeInRight(data-wow-delay='0.75s')
						img(src='./images/g-icon-4.png')
				+e.image
					img(src='./images/our-diet-woman.png')
		+e.bottom
			.container.shadowless
				+e.wrap
					+text('Сегодня&nbsp;же, в&nbsp;эпоху изобилия, нам не&nbsp;приходится заниматься собирательством или охотиться&nbsp;&mdash; любые деликатесы в&nbsp;шаговой доступности. К&nbsp;сожалению, даже в&nbsp;этих условиях мы&nbsp;продолжаем раз за&nbsp;разом делать неверный выбор! А&nbsp;причины тому лежат на&nbsp;поверхности: соблазны, дефицит времени и&nbsp;дороговизна. Меньше трети респондентов нашего опроса* сказали, что правильное питание является их&nbsp;повседневной привычкой, а&nbsp;44% признались, что прибегают к&nbsp;фастфуду не&nbsp;реже, чем 1-2 раза в&nbsp;месяц.')
